.navbar {
  background-color: #F6F0DA;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  color: #850221;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 60px; /* space between items */
}

.nav-center {
  font-size: 22px;
  font-weight: 900;
}

/* remove default link styles */
.nav-item a {
  text-decoration: none;
  color: #850221;
}
